/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(Img/backgorund.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.calculator{
	background: linear-gradient(135deg, #353433, #919191);
	box-shadow: 0 10px 28px #393736;
	border-radius: 25px;
	padding: 5px;

}

.screen {
	height: 70px;
	background-color: whitesmoke;
	border-radius: 25px 25px 0 0 ;
	box-shadow: 0 5px 5px #353433 ;
}
.screenText{
	justify-content: center;
	text-align: start;
	padding: 30px;
	font-family: 'Share Tech', sans-serif;
	font-size: 20px;

}

.buttons{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 15px;
	width: 100%;
	flex-wrap: wrap;
}

button{
	background-color: transparent;
	color: white;
	border: none;
	border-radius: 15px;
	font-size: 20px;
	padding: 20px;
}

.number:hover{
	background-color: rgb(179, 179, 204, 0.2);
	cursor: pointer;
}

.operator:hover, .special:hover{
	background-color: rgba(27, 149, 147, 0.689);
	cursor: pointer;

}
